{{#if updateCommentForm}}
  <form>
    {{textarea class="form-control" value=content id='content' placeholder="Enter comment..."}}
    <button {{action 'updateComment' comment}}>Submit</button>
  </form>
{{else}}
  <button {{action "updateCommentShown"}}>Update Comment</button>
{{/if}}
