{{#if updateCommentForm}}
  <form>
    {{textarea class="form-control" value=content id='content' placeholder="Enter comment..."}}
    <button class="btn btn-primary" {{action 'updateComment' comment}}>Submit</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action "updateCommentShown"}}>Update Comment</button>
{{/if}}
